.page__main {
  padding: 15px;
  display: grid;
  box-sizing: border-box;
  grid-auto-columns: 270px 1fr;
  grid-template-rows: 50px 1fr;
  grid-gap: 5px;

  &__form {
    grid-column-start: 1;

    &__input {
      border: 2px solid $color-primary-medium-light;
      border-radius: 10px;
      margin: 5px 0;
    }
  }
  &__container--title {
    grid-column-start: 2;
    color: $color-primary-dark;
  }

  &__container--search {
    box-sizing: border-box;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;

    .serie {
      border-radius: 6px;
      margin: 5px;
      padding: 10px;
      background-color: $color-primary-medium-light;
      color: $color-primary-dark;

      &__title {
        text-align: center;
      }
    }

    .serieBackgroundSelected {
      background-color: $color-primary-dark;
      color: $color-primary-light;
    }
  }
  &__container--fav {
    grid-column-start: 1;
    grid-row: 2 / 3;

    .title {
      color: $color-primary-dark;
      margin-left: 5px;
      text-align: center;
    }

    .favourite {
      border: 2px solid $color-primary-dark;
      border-radius: 6px;
      color: $color-primary-dark;
      margin: 5px 0;
      padding: 5px;
      display: flex;
      align-items: center;

      &__img {
        border-radius: 15px;
        width: 100px;
      }

      &__title {
        margin-left: 5px;
        text-align: center;
      }
      &__btn {
        margin-left: 5px;
        align-self: flex-start;
        justify-self: flex-end;
      }
    }
  }
}
