.page__main {
  //   border: 1px solid red;
  padding: 15px;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: min-content;

  &__form {
    // border: 1px solid green;
    grid-row-start: 1;
  }
  &__container--search {
    grid-row: 1 / 3;
    display: flex;
    flex-wrap: wrap;

    .serie {
      border-radius: 6px;
      margin: 5px;
      padding: 10px;

      &__title {
        text-align: center;
      }
    }

    .serieBackground {
      background-color: lightblue;
    }

    .serieBackgroundSelected {
      background-color: lightseagreen;
    }
  }
  &__container--fav {
    // border: 1px solid coral;
  }
}
