.page__main {
  padding: 15px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 10% 90%;
  grid-gap: 5px;

  &__form {
    grid-row-start: 1;
  }
  &__container--search {
    grid-row: 1 / 3;
    display: flex;
    flex-wrap: wrap;

    .serie {
      border-radius: 6px;
      margin: 5px;
      padding: 10px;

      &__title {
        text-align: center;
      }
    }

    .serieBackground {
      background-color: lightblue;
      color: darkcyan;
    }

    .serieBackgroundSelected {
      background-color: darkcyan;
      color: white;
    }
  }
  &__container--fav {
    grid-row: 2 / 3;

    .favourite {
      border: 1px solid lightblue;
      border-radius: 6px;
      color: darkcyan;
      margin: 5px 0;
      padding: 5px;
      display: flex;
      align-items: center;
      &__title {
        margin-left: 5px;
      }
    }
  }
}
